.landing {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.ova {
  width: 700px;
}
.copy {
  display: flex;
  color: #000;
  flex-direction: column;
  width: 700px;
  align-items: center;
  background-color: #02b795;
  padding: 5vh;
  font-size: 1.5em;
}
a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ova {
    max-width: 500px;
    margin: auto;
  }

  .copy {
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
  }
}
