.contenedor {
  position: relative;
  padding: 0;
  margin: auto;
}
.botonera {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  width: 270px;
  position: relative;
  top: 85px;
  left: 530px;
  z-index: 1000;
}
.player {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}
.progreso {
  width: 800px;
  margin: 0;
  padding: 0;
  margin: auto;
}
